name: Lint

on:
  push:

jobs:
  build:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Lint
        uses: github/super-linter@v4.10.1
